#top {
  display: block;
  position: relative;
  height: 170px;
  font-family: "Merriweather";
  text-align: center;
}

#top #title {
  color: #B64926;
  font-size: 52px;
  padding-top: 50px;
  margin-bottom: 0px;
}

#top #makers {
  color: gray;
  font-size: 20px;
}

#contents {
  display: block;
  position: relative;
  padding: 75px 330px;
  font-size: 20px;
  font-family: "Merriweather";
}

#footer {
  display: block;
  position: relative;
  height: 110 px;
  text-align: center;
  background-color: #FCFFF5;
}

#footer p {
  margin: auto;
  font-size: 26px;
  font-family: Serif;
  padding-top: 24px;
  padding-bottom: 22px;
}

#footer a {
  text-decoration: none;
  font-family: "Rock salt";
  font-weight: 400;
  font-size: 17px;
}