body {
  background-color: #FDFDFD;
}

#header {
  display: block;
  margin: auto;
}

#header-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #0876A6;
  font-size: 75px;
  margin: 50px 50px 40px 50px;
}

.navbar {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  display: block;
  text-align: center;
}

a {
  text-decoration: none;
}

.navbar a {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  margin: 0px 15px;
  color: #59748F;
}

.navbar a:hover {
  color: #BB000C;
}

#social {
  position: fixed;
  top: 12px;
  left: 12px;
  float: left;
}

.advertisement {
  position: fixed;
  top: 140px;
  right: 12px;
  float: right;
}

#sidebar {
  display: inline-block;
  position: absolute;
  right: 70px;
  color: #59748F;
  font-family:'Merriweather', serif;
  font-weight: 400;
}

#sidebar p {
  color: #375D81;
  font-size: 12px;
  font-family:'Merriweather', serif;
  padding-bottom: 7px;
  text-decoration: none;
}

#sidebar .blog-header{
  color: #4BB5C1;
  font-size: 16px;
  font-family:'Merriweather', serif;
  padding-bottom: 7px;
}

#content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 25px;
  display: block;
  position: relative;
  margin: auto;
  text-align: center;
  clear: both;
  padding-top: 70px;
  padding-bottom: 35px;
  color: black;
}

#content img{
  margin: auto;
  width: 250px;
}

.radius {
  border-radius: 50%;
  border: 1px solid;
  border-color: #0876A6;
}

#content p {
  margin: 50px 320px;
}

#previous {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  display: inline-block;
  margin: auto;
  padding-top: 35px;
  padding-left: 390px;
  font-size: 20px;
  padding-bottom: 85px;
  }

#previous a {
  text-decoration: none;
  color: #4BB5C1;
}

  #previous img {
    margin: -17px 15px;
  }

#next {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  display: inline-block;
  margin: auto;
  padding-top: 35px;
  font-size: 20px;
  padding-left: 25px;
  padding-bottom: 85px;
}

#next img {
    margin: -17px 15px;
  }

#next a {
  text-decoration: none;
  color: #4BB5C1;
}

#footer {
  display: block;
  position: relative;
  background-color: #FAFAFA;

}

#footer-links {
  position: relative;
  text-align: center;
}

#footer-links a {
  color: #375D81;
  font-family: 'Merriweather', serif;
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  margin: 7px 8px;
}

#footer a:hover {
  color: #BB000C;
}