body {
  background-color: #FDFDFD;
}

#header {
  display: block;
  margin: auto;

}

#header-title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 75px;
  margin: 100px 50px 50px 50px;
}

.navbar {
  font-family: 'Merriweather', serif;
  display: block;
  margin: auto;
  margin-top: 0px;
  text-align: center;
  padding: 0px;
}

a {
  text-decoration: none;
}

.navbar a {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  padding-right: 3px;
  color: #BFBFBD;

}

#social {
  display: inline-block;
  float: right;
  clear: both;
}

#blog {
  display: block;
  clear: both;
  width: 75%;
  float: left;
}

#date {
  text-align: left;
}

#title {
  text-align: left;
}

#photo {
  display: block;
  position: relative;
  float: left;
}

#content {
  display: block;
  position: relative;
  text-align: left;
  float: left;
  clear: both;
}

#previous {
  display: inline-block;
  position: relative;
  float: left;
  font-family: 'Merriweather', serif;

}

#next {
  display: inline-block;
  position: relative;
  float: right;
  font-family: 'Merriweather', serif;
}

#footer {
  clear: both;
  display: block;
  margin: auto;

}

#footer-left {
  position: relative;
  display: inline-block;
  float: left;
}

#footer-right {
  position: relative;
  display: inline-block;
  float: right;
}










