#header {
  display: block;
  margin: auto;

}

.navbar {
  display: inline-block;
}

#social {
  display: inline-block;
  float: right;
  clear: both;
}

#blog {
  display: block;
  clear: both;
  width: 75%;
  float: left;
}

#date {
  text-align: left;
}

#title {
  text-align: left;
}

#photo {
  display: block;
  position: relative;
  float: left;
}

#content {
  display: block;
  position: relative;
  text-align: left;
  float: left;
  clear: both;
}

#previous {
  display: inline-block;
  position: relative;
  float: left;

}

#next {
  display: inline-block;
  position: relative;
  float: right;
}

#footer {
  clear: both;
  display: block;
  margin: auto;

}

#footer-left {
  position: relative;
  display: inline-block;
  float: left;
}

#footer-right {
  position: relative;
  display: inline-block;
  float: right;
}










