body {
  background-color: #FDFDFD;
}

#header {
  display: block;
  margin: auto;
}

#header-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #0876A6;
  font-size: 75px;
  margin: 50px 50px 40px 50px;
}

.navbar {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  display: block;
  margin: auto;
  margin-top: 0px;
  text-align: center;
  padding: 0px;
}

a {
  text-decoration: none;
}

.navbar a {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  margin: 0px 15px;
  color: #59748F;
}

#social {
  position: fixed;
  top: 12px;
  left: 12px;
  float: left;
}

#sidebar {
  display: inline-block;
  position: absolute;
  right: 70px;
  color: #59748F;
  font-family:'Merriweather', serif;
  font-weight: 400;
}

#sidebar p {
  color: #375D81;
  font-size: 12px;
  font-family:'Merriweather', serif;
  padding-bottom: 7px;
  text-decoration: none;
}

#sidebar .blog-header{
  color: #4BB5C1;
  font-size: 16px;
  font-family:'Merriweather', serif;
  padding-bottom: 7px;
}

#content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: block;
  position: relative;
  margin: auto;
  clear: both;
  max-width: 650px;
  padding-top: 70px;
  padding-bottom: 35px;
  color: black;
}

#content img{
  padding-left: 15px;
}

#content-title {
  text-align: center;
  padding: 0px;
  font-size: 55px;
  margin-top: 60px;
  margin-bottom: 10px;
}

#content-subtitle {
  text-align: center;
  font-size: 30px;
  height: 30px;
  padding: 0px;
}

#content-date {
  text-align: center;
  font-size: 18px;
  height: 18px;
  padding-bottom: 30px;
}

#content-body {
  text-indent: 50px;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
}

#content-body code {
  font-size: 20px;
  text-align: left;
}

#previous {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  display: inline-block;
  margin: auto;
  padding-top: 35px;
  padding-left: 390px;
  font-size: 20px;
  padding-bottom: 85px;
  }

#previous a {
  text-decoration: none;
  color: #4BB5C1;
}

#previous img {
  margin: -17px 15px;
}

#next {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  display: inline-block;
  margin: auto;
  padding-top: 35px;
  font-size: 20px;
  padding-left: 25px;
  padding-bottom: 85px;
}

#next img {
    margin: -17px 15px;
  }

#next a {
  text-decoration: none;
  color: #4BB5C1;
}

#footer {
  display: block;
  background-color: #FAFAFA;
  bottom:0;
  clear:both;
  text-align:center;
  padding:5px;
}

#footer-links {
  text-align: center;
}

#footer-links a {
  color: #375D81;
  font-family: 'Merriweather', serif;
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  margin: 7px 8px;
}









